.logoAudax {
  width: 100px;
  height: 70px;
}

.ContainerAudax {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;

}

ToolBarMUI {
  padding: 10rem;
  margin: 20rem;
  background-color: black;
}

.BoxMainImage {
  color: #000;
  margin-top: 15vh;

}

.BoxMainImage img {
  background-color: black;
}

.BoxMainImage figcaption {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px black;
}